@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  Philosopher (regular, italic)

*/

.sprite {
  background: url(i/sprite.png) 0 0 no-repeat;
  /* background */
  &.sprite1 {
    width: 100%;
    height: 52px;
    background-repeat: repeat-x;
    display: inline-block;
  }
  /* logo gd */
  &.sprite2 {
    width: 143px;
    height: 39px;
    background-position: 0 -52px;
    display: inline-block;
  }
  /* jazz */
  &.sprite3 {
    width: 34px;
    height: 34px;
    background-position: 0 -91px;
    display: inline-block;
  }
  /* france */
  &.sprite4 {
    width: 55px;
    height: 34px;
    background-position: 0 -125px;
    display: inline-block;
  }
  /* points */
  &.sprite5 {
    width: 100%;
    height: 7px;
    background-position: 0 -159px;
    background-repeat: repeat-x;
    display: inline-block;
  }
  /* background image */
  &.sprite6 {
    width: 143px;
    height: 104px;
    background-position: 0 -166px;
    display: inline-block;
  }
  /* red line */
  &.sprite7 {
    width: 100%;
    height: 5px;
    background-position: 0 -270px;
    background-repeat: repeat-x;
    display: inline-block;
  }
  /* rainbow line */
  &.sprite8 {
    background: url('i/line.png') top center no-repeat;
    width: 100%;
    height: 6px;
    display: inline-block;
  }
  /* footer bg */
  &.sprite9 {
    height: 211px;
    width: 100%;
    background-position: 0 -275px;
    background-repeat: repeat-x;
  }
}

body {
  background: url('i/body_back.jpg') no-repeat fixed top center;
  //-webkit-background-size: cover;
  //background-size: cover;
  padding: 56px 0 0 0;
  .wrap {
    width: 980px;
    .center-block();
    &.inner {
      width: 1080px;
    }
  }
  a:hover {text-decoration: none;}
  .to_ind {
    padding: 0px 10px;
    font: 16px/20px 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    a {
      color: #000;
      &:hover {
        color: #f93d8d;
      }
    }
  }
}

footer {
  .label {
    font: 28px/28px 'Philosopher', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0 10px 0;
  }
  .copy {
    text-align: center;
    font: 14px/18px 'Trebuchet MS';
  }
  ul {
    margin: 0 0 0 10px;
    li {
      float: left;
      img {
        display: block;
      }
    }
  }
}

.content {
  .black {
    background: rgba(0, 0, 0, 0.8);
    padding: 0px 20px;
  }
  .tours {
    color: #fff;
    font-family: 'Philosopher', sans-serif;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        h3 {text-decoration: none;}
      }
    }
    h2 {
      font-size: 36px;
      padding: 30px 0;
    }
    ul {
      .clearfix();
      margin-bottom: 20px;
    }
    li {
      float: left;
      width: 294px;
      padding: 0 15px 0 0;
      img {
        float: left;
        width: 118px;
      }
      .data {
        margin-left: 135px;
      }
      h3 {
        color: #f93d8d;
        text-decoration: underline;
        font-size: 18px;
        margin-bottom: 12px;
        line-height: 22px;
      }
      p.date {
        font-size: 12px;
        margin-bottom: 12px;
      }
      p.price {
        font-size: 30px;
      }
    }
    p.all {
      text-align: center;
      font-size: 18px;
      font-style: italic;
      padding: 0 0 20px;
      a {
        text-decoration: underline;
        &:hover {text-decoration: none;}
      }
    }
  }
  section {
    width: 621px;
    float: left;
    margin-left: 18px;
    .text {
      font: 18px/22px 'Philosopher', sans-serif;
      margin-bottom: 30px;
    }
    .gallery {
      font: 16px/18px 'Philosopher', sans-serif;
      margin-bottom: 20px;
      h3 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 10px;
      }
      ul {
        .clearfix();
        li {
          float: left;
          width: 143px;
          margin-left: 16px;
          &:first-child {margin-left: 0;}
        }
      }
      a {
        text-decoration: none;
        color: #000;
        display: block;
        padding: 0px 0px 0px 9px;
        &:hover {
          color: #f93d8d;
        }
      }
      .sprite {
        display: block;
        margin-left: -9px;
        img {
          border: 3px solid #fff;
          margin: 7px 0 0 9px;
          .box-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
        }
      }
    }
    hr {
      border: 1px solid #c7c7c7;
      border-width: 0 0 1px;
      margin-bottom: 30px;
    }
    .posts {
      ul {
        li {
          width: 299px;
          float: left;
          margin-left: 23px;
          margin-bottom: 40px;
          a {
            text-decoration: none;
            color: #000;
            img {
              margin-bottom: 20px;
              width: 299px;
              .box-shadow(0 0 5px rgba(0, 0, 0, 0.2));
            }
            h4 {
              font: 16px/20px 'Trebuchet MS', sans-serif;
              margin-bottom: 10px;
            }
            p {
              font: 12px/16px 'Georgia', serif;
              color: #555;
            }
            &:hover {
              h4 {color: #f93d8d;}
            }
          }
          &.ml0 {
            margin-left: 0;
          }
        }
      }
    }
  }
  aside {
    width: 299px;
    float: right;
    margin-right: 20px;
    .days {
      background: #fff;
      margin-bottom: 30px;
      .box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
      li {
        margin: -3px 0 0 0;
        position: relative;
        &:first-child {margin: 0;}
      }
      span.d {
        width: 55px;
        float: left;
        text-align: center;
        font-size: 18px;
        font: 49px/17px 'Philosopher', sans-serif;
        color: #d0d3b3;
        margin: 18px 0 10px 0;
        small {
          font-size: 18px;
          line-height: 1px;
        }
      }
      h5 {
        margin-left: 70px;
        font: 16px/18px 'Philosopher', sans-serif;
        color: #0a0a0a;
      }
      a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        .clearfix();
        &:hover {
          background: #f7efcc;
          span.d {
            color: #cc0000;
          }
          h5 {
            text-decoration: underline;
          }
        }
      }
      hr {
        margin: -3px 0 0 4px;
        border: none;
        width: auto;
        display: block;
        position: relative;
        z-index: 1000;
      }
    }
    .partners {
      margin-bottom: 30px;
      background: #fff;
      .box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
      .label {
        background: #cf1717;
        text-align: center;
        color: #fff;
        font: 18px/22px 'Philosopher', sans-serif;
        text-transform: uppercase;
        padding: 8px 0 4px;
      }
      .sprite {
        display: block;
      }
      ul {
        .clearfix();
        li {
          float: left;
          border: 1px solid #e6e7e6;
          border-width: 0 1px 1px 0;
          &:nth-child(2n) {border-width: 0 0 1px 0;}
          img {
            display: block;
          }
        }
      }
    }
    .peoples {
      h4 {
        font: 24px/30px 'Philosopher', sans-serif;
        margin-bottom: 15px;
      }
      h6 {
        font: italic 14px/20px 'Philosopher', sans-serif;
        margin-bottom: 20px;
      }
      li {
        margin-bottom: 20px;
        font: 18px/20px 'Philosopher', sans-serif;
        .clearfix();
        img {
          float: left;
        }
        .data {
          margin-left: 95px;
          padding-top: 10px;
        }
        p {
          font-size: 14px;
          font-style: italic;
          img {
            float: left;
            margin: 3px 5px 0 0;
          }
          a {
            color: #008aff;
          }
          &.about {
            font-size: 12px;
            a {
              color: #008aff;
              text-decoration: none;
              border-bottom: 1px dotted #008aff;
              &:hover {border-bottom: none;}
            }
          }
        }
      }
    }
  }
  .white {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 0;
  }
  .title_page {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font: 60px/41px 'Philosopher', sans-serif;
    padding: 25px 80px 20px;
    small {
      font-size: 45px;
    }
    i {
      font-style: italic;
    }
  }
}

.popup {
  display: none; 
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  z-index: 2500;
  background: url(img/popup.png);
  .box { background: #e7e7e7; width: 372px; min-height: 200px; border-radius: 10px; position: relative; margin: 200px auto 0 auto; padding: 20px; }
  .box .close { position: absolute; top: 10px; right: 10px; cursor: pointer; }
  .box_foto{
    float: left;
    width: 141px;
    height: 141px;
    margin-right: 22px;
    margin-bottom: 20px;
    img{
      border-radius: 70px;
    }
  }
  .box_info{
    float: left;
    margin-top: 20px;
  }
  .box_name{
    margin-bottom: 14px;
    font-family: Philosopher, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
  }
  .box_adress{
    margin-bottom: 4px;
    font-family: Philosopher, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
  }
  .box_info a{
    font-style: italic;
    font-family: Philosopher, Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #387f87;
    &:hover{
      text-decoration: none;
    }
  }
  .box_text{
    font: 13px/18px Tahoma;
    color: #000;
    clear: both;
  }
}

.fixed_head {
  position: fixed;
  top: 0;
  left: 0;
  font: 12px/35px Arial, sans-serif;
  z-index: 2000;
  img {
    margin-top: -6px;
  }
  .rainbow {
    position: absolute;
    bottom: -6px;
    left: 0;
  }
  ul {
    li {
      float: left;
      margin: 8px 55px 0 0;
      .sprite {
        float: left;
        margin: 0 10px 0 0;
      }
      &:nth-child(2) { font-family: "Philosopher"; a {color: #cc0000;} }
      &:nth-child(3) { font-style: italic; a {text-decoration: none;color: #1d3a8f;span {color: #e30613;}} }
      
    }
  }
}