/ @include 'kit/head.kit'

/ @include 'kit/h.kit'

.content.wrap 
  .title_page
    %h1 Большая прогулка: <br> <small><i>Шампань & Париж</i></small>
  .white 
    %section 
      .text 
        %p Блогеры LiveJournal отправились в путешествие по Франции. Хотя, кто сказал, что по этой стране можно путешествовать? По ней можно только жить. Легкомысленно, стремительно и по-шампански вкусно.
      / @include 'kit/gallery.kit'
      / @include 'kit/posts.kit'
    / @include 'kit/aside.kit'

  / @include 'kit/black.kit'

/ @include 'kit/footer.kit'

/ @include 'kit/popup.kit'

/ @include 'kit/foot.kit'